apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-proc
  labels:
    app: image-proc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: image-proc
  template:
    metadata:
      labels:
        app: image-proc
    spec:
      containers:
        - name: image-proc-app
          image: zooniverse/image-proc:__IMAGE_TAG__
          resources:
               requests:
                 memory: "150Mi"
                 cpu: "10m"
               limits:
                 memory: "150Mi"
                 cpu: "500m"
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: image-proc
spec:
  selector:
    app: image-proc
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
